#form {
    width: 100%;
}

.user-card {
    width: auto;
    border-radius: unset;
    box-shadow: none;
    margin-top: 0;
}

.upload-text {
    text-align: left;
    padding-left: 1rem;
    font-weight: 800;
    font-size: larger;
}

.submit-btn {
    border: 1px solid grey;
    width: 15%;
    margin-left: 1rem;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    text-align: center;
}

#form input:hover,
#form input.submit-btn {
    cursor: pointer;
}