h2 {
    font-size: 2rem;
    text-align: center;
}

.user-card {
    width: 30%;
    border: 1px solid gray;
    padding: 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(blueviolet, #f9cea8);
    box-shadow: 3px 9px 40px -10px rgba(0,0,0,0.7);
    margin-top: 1rem;
}

.user-card img {
    width: 40%;
    display: flex;
    margin: auto;
}

.user-card p {
    font-weight: 700;
    font-size: 18px;
    line-height: 0.2rem;
}

.user-card .card-name {
    font-size: 20px;
    font-weight: bold;
}

.user-card .btn {
    padding: 0.25rem 1.25rem;
    transition-duration: 0.4s;
    border-radius: 0.4rem;
    border: 2px solid gray;
    color: #746d5a;
    font-weight: bold;
    margin-top: 1rem;
}

.user-card .btn:hover {
    cursor: pointer;
    background-color: #b165cd;
    color: white;
}

.user-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.delete-btn {
    margin-left: 0.75rem;
}